<li class="burgerItem">
    {{burger_name}}

    <button class="btn btn-primary" id="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}Eat Me!{{else}}Spit it out!{{/if}}
    </button>
    {{>burgers/burger-delete}}

</li>